.mountains{
    width: 500px;
    height: 300x;
    background-color:azure;
    align-items: center ;
}


.snow{
    width: 500px;
    height: 300px;
    background-color:aquamarine;
    align-items: center;
}


.sunset{
    width: 500px;
    height: 300px;
    background-color:peachpuff;
    align-items: center;
}


.card{
    width: 550px;
    height: 550px;
    border-radius: 10%;
    background-color:pink;
    border-color: wheat;
}