.imageCard{
    width: 1200px;
    height: 1000px;
    border-color: brown;
    background-color:lavenderblush;
}
.nature{
    width: 900px;
    height: 700px;
    align-items: center;
    background-color:hotpink;
}
.animal{
    width: 500px;
    height: 300px;
    align-items: center;
    background-color:lavender;
    
}


